<!--@subject Job Application @-->
{{template config_path="design/email/header_template"}}
<p>{{trans "Dear %name" name=$name}},</p>
<p>Iam writing to acknowledge the receipt of your job application for the {{trans "%role" role=$role}} role. We
    appreciate your interest in joining our team.</p>
<p>We will be reviewing all submissions carefully and will be in touch soon to let you know if you have been selected
    for an interview.</p>
<p>Thank you again for your interest in our organization. We look forward to the possibility of working with you in
    future.</p>
<p>Best Regards,</p>
<p>{{trans "%owner" owner=$owner}}</p>
{{template config_path="design/email/footer_template"}}