<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <career>
            <general>
                <enable>1</enable>
                <adminName>Admin</adminName>
                <adminEmail>admin@example.com</adminEmail>
                <template>1</template>
            </general>
        </career>
    </default>
</config>