<?xml version = "1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">


     <preference for="Terrificminds\CareerPageBuilder\Api\JobCategoryRepositoryInterface" type="Terrificminds\CareerPageBuilder\Model\JobCategoryRepository"/>
    <preference for="Terrificminds\CareerPageBuilder\Api\Data\JobCategoryInterface" type="Terrificminds\CareerPageBuilder\Model\JobCategory"/>
    <preference for="Terrificminds\CareerPageBuilder\Api\JobRepositoryInterface" type="Terrificminds\CareerPageBuilder\Model\JobRepository"/>
    <preference for="Terrificminds\CareerPageBuilder\Api\Data\JobInterface" type="Terrificminds\CareerPageBuilder\Model\Job"/>
    <preference for="Terrificminds\CareerPageBuilder\Api\ApplicationRepositoryInterface" type="Terrificminds\CareerPageBuilder\Model\ApplicationRepository"/>
    <preference for="Terrificminds\CareerPageBuilder\Api\Data\ApplicationInterface" type="Terrificminds\CareerPageBuilder\Model\Application"/>
   
   

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="jobcategory_listing_data_source" xsi:type="string">JobCategoryCollection</item>
                  <item name="job_listing_data_source" xsi:type="string">JobCollection</item>
                   <item name="application_listing_data_source" xsi:type="string">ApplicationCollection</item>
            </argument>
        </arguments>
    </type>
    
    <virtualType name="JobCategoryCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">job_category</argument>
            <argument name="resourceModel" xsi:type="string">Terrificminds\CareerPageBuilder\Model\ResourceModel\JobCategory</argument>
        </arguments>
    </virtualType>
        <virtualType name="JobCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">job</argument>
            <argument name="resourceModel" xsi:type="string">Terrificminds\CareerPageBuilder\Model\ResourceModel\Job</argument>
        </arguments>
    </virtualType>
         <virtualType name="ApplicationCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">application_form</argument>
            <argument name="resourceModel" xsi:type="string">Terrificminds\CareerPageBuilder\Model\ResourceModel\Application</argument>
        </arguments>
    </virtualType>
</config>